<div style="background: linear-gradient(to bottom, #200122, #6f0000); border: 2px; box-radius: 20px"><h1 style="color: white; text-align: center"><br> Hepatitis B<br></h1></div>

<p style="font-size: 22px"><b>Aim</b> : To implement Decision Tree with the given dataset of Hepatitis B for Binary Classification </p>

In [102]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn import tree
from sklearn.metrics import accuracy_score

# Building Feature Set

<p style="font-size: 22px"><b>About Data</b></p>
<p>This dataset contains details about 155 Humans and their condition related to Hepatitis B</p>
<p>Total No of Attributes are : 20 </p>
<p>Details of Attributes are as follows</p>
<ul>
    <li> Class: DIE, LIVE </li>
    <li> AGE: 10, 20, 30, 40, 50, 60, 70, 80 </li>
    <li> SEX: male, female </li>
    <li> STEROID: no, yes</li>
    <li> ANTIVIRALS: no, yes</li>
    <li> FATIGUE: no, yes</li>
    <li> MALAISE: no, yes</li>
    <li> ANOREXIA: no, yes</li>
    <li> LIVER BIG: no, yes</li>
    <li> LIVER FIRM: no, yes</li>
    <li> SPLEEN PALPABLE: no, yes</li>
    <li> SPIDERS: no, yes</li>
    <li> ASCITES: no, yes</li>
    <li> VARICES: no, yes</li>
    <li> BILIRUBIN: 0.39, 0.80, 1.20, 2.00, 3.00, 4.00</li>
    <li> ALK PHOSPHATE: 33, 80, 120, 160, 200, 250</li>
    <li> SGOT: 13, 100, 200, 300, 400, 500</li>
    <li> ALBUMIN: 2.1, 3.0, 3.8, 4.5, 5.0, 6.0</li>
    <li> PROTIME: 10, 20, 30, 40, 50, 60, 70, 80, 90</li>
    <li>  HISTOLOGY: no, yes</li>
</ul>

<p style="font-size: 22px"><b>Reading Data</b></p>

In [91]:
hep_data = pd.read_csv('./Datasets/hepatitis.data')
hep_data.head(20)

,Class,Age,Sex,Streoid,Antivirals,Fatigue,Malaise,Anorexia,LiverBig,LiverFirm,SpleenPalpable,Spiders,Ascites,Varices,Bilirubin,AlkPhospate,SGOT,Albumin,Protime,Histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
5,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
6,1,51,1,1,2,1,2,1,2,2,1,1,2,2,?,?,?,?,?,1
7,2,23,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,?,?,?,1
8,2,39,1,2,2,1,2,2,2,1,2,2,2,2,0.70,?,48,4.4,?,1
9,2,30,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,120,3.9,?,1
10,2,39,1,1,1,2,2,2,1,1,2,2,2,2,1.30,78,30,4.4,85,1
11,2,32,1,2,1,1,2,2,2,1,2,1,2,2,1.00,59,249,3.7,54,1
12,2,41,1,2,1,1,2,2,2,1,2,2,2,2,0.90,81,60,3.9,52,1
13,2,30,1,2,2,1,2,2,2,1,2,2,2,2,2.20,57,144,4.9,78,1
14,2,47,1,1,1,2,2,2,2,2,2,2,2,2,?,?,60,?,?,1
15,2,38,1,1,2,1,1,1,2,2,2,2,1,2,2.00,72,89,2.9,46,1
16,2,66,1,2,2,1,2,2,2,2,2,2,2,2,1.20,102,53,4.3,?,1
17,2,40,1,1,2,1,2,2,2,1,2,2,2,2,0.60,62,166,4.0,63,1
18,2,38,1,2,2,2,2,2,2,2,2,2,2,2,0.70,53,42,4.1,85,2
19,2,38,1,1,1,2,2,2,1,1,2,2,2,2,0.70,70,28,4.2,62,1

<p style="font-size: 22px"><b>Analyzing Data</b></p>

In [3]:
hep_data.describe(include='all')

,Class,Age,Sex,Streoid,Antivirals,Fatigue,Malaise,Anorexia,LiverBig,LiverFirm,SpleenPalpable,Spiders,Ascites,Varices,Bilirubin,AlkPhospate,SGOT,Albumin,Protime,Histology
count,155.000000,155.000000,155.000000,155,155.000000,155,155,155,155,155,155,155,155,155,155,155,155,155,155,155.000000
unique,NaN,NaN,NaN,3,NaN,3,3,3,3,3,3,3,3,3,35,84,85,30,45,NaN
top,NaN,NaN,NaN,2,NaN,1,2,2,2,2,2,2,2,2,1.00,?,20,4.0,?,NaN
freq,NaN,NaN,NaN,78,NaN,100,93,122,120,84,120,99,130,132,29,29,7,25,67,NaN
mean,1.793548,41.200000,1.103226,NaN,1.845161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.451613
std,0.406070,12.565878,0.305240,NaN,0.362923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.499266
min,1.000000,7.000000,1.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
25%,2.000000,32.000000,1.000000,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
50%,2.000000,39.000000,1.000000,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
75%,2.000000,50.000000,1.000000,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
max,2.000000,78.000000,2.000000,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000

<p style="font-size: 20px;"> Entries where data is missing </p>

In [4]:
hep_missing = hep_data.loc[(hep_data['Bilirubin']=='?') | (hep_data['AlkPhospate']=='?') | (hep_data['SGOT']=='?') | (hep_data['Albumin']=='?') | (hep_data['Protime']=='?')]

In [5]:
hep_missing.iloc[:, 14:].describe()

       Histology
count  72.000000
mean    1.486111
std     0.503315
min     1.000000
25%     1.000000
50%     1.000000
75%     2.000000
max     2.000000

<p style="font-size: 20px">Data of Alive Persons</p>

In [6]:
hep_data.loc[hep_data['Class']==2].describe()

       Class         Age         Sex  Antivirals   Histology
count  123.0  123.000000  123.000000  123.000000  123.000000
mean     2.0   39.796748    1.130081    1.821138    1.365854
std      0.0   12.828605    0.337769    0.384804    0.483639
min      2.0    7.000000    1.000000    1.000000    1.000000
25%      2.0   30.000000    1.000000    2.000000    1.000000
50%      2.0   38.000000    1.000000    2.000000    1.000000
75%      2.0   50.000000    1.000000    2.000000    2.000000
max      2.0   78.000000    2.000000    2.000000    2.000000

<p style="font-size: 20px; "> Data of Dead Persons</p>

In [7]:
hep_data.loc[hep_data['Class']==1].describe()

       Class        Age   Sex  Antivirals  Histology
count   32.0  32.000000  32.0   32.000000  32.000000
mean     1.0  46.593750   1.0    1.937500   1.781250
std      0.0   9.944554   0.0    0.245935   0.420013
min      1.0  30.000000   1.0    1.000000   1.000000
25%      1.0  38.750000   1.0    2.000000   2.000000
50%      1.0  46.500000   1.0    2.000000   2.000000
75%      1.0  54.500000   1.0    2.000000   2.000000
max      1.0  70.000000   1.0    2.000000   2.000000

<p style="font-size: 20px;"><b>Removing Null values or Missing Data</b></p>

In [31]:
hep_data = hep_data.replace('?', np.NaN)

In [34]:
hep_data= hep_data.dropna()

# Creating Train and Test splits

In [35]:
hep_data.shape

(80, 20)

In [90]:
X= hep_data.iloc[:,:19]
y= hep_data.iloc[:,19:]

In [196]:
X_train, X_test , y_train, y_test = train_test_split(X, y, test_size= 0.70, random_state= 0)

# Training the Model

In [197]:
decision_tree_model= tree.DecisionTreeClassifier(max_depth=100)

In [198]:
decision_tree_model = decision_tree_model.fit(X_train, y_train)

In [199]:
y_pred= decision_tree_model.predict(X_test)

In [200]:
accuracy_score(y_pred, y_test) * 100

66.07142857142857