<a href="https://colab.research.google.com/github/SahilSinhaLpu/Machine-Learning/blob/master/Somerville_Happiness_Survey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Somerville Happiness Survey</h1>

![Happiness Survey Image](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8KC9DZjrDTXke8wKlLaFZK3OyaminSWtE9Zh8Pvq173GCiojz)

1.   Importing Libraries

---

In [0]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

2.   Reading Data


---

In [0]:
data= pd.read_csv("https://raw.githubusercontent.com/SahilSinhaLpu/Machine-Learning/master/Datasets/SomvervilleHappines.csv")
data.head(10)

   D  X1  X2  X3  X4  X5  X6
0  0   3   3   3   4   2   4
1  0   3   2   3   5   4   3
2  1   5   3   3   3   3   5
3  0   5   4   3   3   3   5
4  0   5   4   3   3   3   5
5  1   5   5   3   5   5   5
6  0   3   1   2   2   1   3
7  1   5   4   4   4   4   5
8  0   4   1   4   4   4   4
9  0   4   4   4   2   5   5

3.   Data representation


---

4.   Applying Algorithms


---



>>The given dataset and problem is based upon **Binary Classification**, and we need to predict if >a person is happy or not based upon the features in the data set




A. Multilayer Perceptron

In [0]:
from sklearn.neural_network import MLPClassifier

In [0]:
y= data.iloc[:,:1]
X = data.iloc[:,1:]

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 0.60, random_state= 42)

In [0]:
X_train

     X1  X2  X3  X4  X5  X6
129   5   1   4   4   4   5
8     4   1   4   4   4   4
13    4   2   4   5   4   3
108   4   2   3   4   3   3
114   5   2   3   3   3   5
3     5   4   3   3   3   5
17    5   1   4   3   4   5
38    5   3   4   3   4   5
72    5   1   5   5   5   5
120   5   1   5   3   5   5
6     3   1   2   2   1   3
101   5   5   3   4   4   5
2     5   3   3   3   3   5
122   5   2   4   4   5   5
54    5   1   3   3   4   4
50    1   1   1   3   1   4
104   3   1   3   2   1   2
46    4   3   3   4   2   4
105   5   5   5   5   5   5
61    5   3   5   5   4   5
140   5   3   3   4   4   5
79    5   2   3   3   2   5
135   5   5   1   1   5   1
91    4   3   4   4   2   4
41    4   4   3   4   2   4
58    4   3   2   4   3   4
90    5   3   2   4   4   4
48    5   3   4   4   4   5
88    3   3   3   3   3   4
126   5   3   3   4   4   4
21    4   2   3   3   4   4
57    4   3   2   4   3   4
75    4   3   3   4   3   4
32    4   3   3   3   4   4
137   5   2   3   4   4   3
59    5   1   1   5   3   5
63    4   4   3   3   2   5
128   4   1   3   3   3   4
37    4   2   3   3   4   4
29    3   3   1   3   3   4
107   5   4   5   4   5   4
133   5   1   5   5   5   5
1     3   2   3   5   4   3
52    5   1   3   3   4   4
103   5   4   4   4   4   5
99    5   1   3   4   5   5
116   3   2   2   3   3   3
87    4   3   2   4   4   4
74    4   2   2   4   4   5
121   4   2   4   4   4   4
142   5   3   2   5   5   5
20    4   2   3   3   4   4
71    4   1   1   3   4   4
106   4   4   3   4   3   3
14    4   1   3   3   4   3
92    5   2   3   4   4   5
102   5   4   4   3   3   4